#header {
  height: 400px;
  width: 25%;
  padding: 20px;
  margin: 50px;
  background-color: #fe7e6d;
  background-image: url("https://www.transparenttextures.com/patterns/satin-weave.png");
  box-sizing: border-box;
  display: inline-block;
}

header .header-image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.header-name {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  #header {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}