#header {
  height: 450px;
  width: 100vw;
  padding-top: 125px;
  background-color: darkgoldenrod;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header .header-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

#header .header-name {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}