/* tablet */

@media only screen and (max-width: 768px) {
  body {
    width: 100vw;
    overflow-x: hidden;
  }

  nav {
    width: 100vw;
    background-color: darkgoldenrod !important;
  }

  .nav-left {
    font-size: 25px !important;
  }

  .nav-right {
    font-size: 20px;
  }

  .header-name {
    font-size: 20px;
  }

  main {
    font-size: 20px;
  }

  #tweets-container {
    font-size: 20px;
  }

  .user-id {
    margin-left: 100px;
  }
}


/* desktop */
@media only screen and (min-width: 1024px) {

  #header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40vw;
    padding-top: 0;
    margin-top: 15vw;
    margin-left: 5vw;
  }

  #tweets-container {
    padding: 0;
    margin: 0;
    width: 30vw;
  }

  main {
    width: 20vw;
    padding: 0;
  }
}