/* tablet */

@media only screen and (max-width: 768px) {
  body {
    width: 100vw;
    overflow-x: hidden;
  }

  nav {
    width: 100vw;
    background-color: darkgoldenrod !important;
  }

  .nav-left {
    font-size: 25px !important;
  }

  .nav-right {
    font-size: 20px;
  }

  .header-name {
    font-size: 20px;
  }

  main {
    font-size: 20px;
  }

  #tweets-container {
    font-size: 20px;
  }

  .user-id {
    margin-left: 100px;
  }
}


/* desktop */
@media only screen and (min-width: 1024px) {
  body {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: center;
  }
  nav {
    width: 100%;
  }

  #header {
    height: inherit;
    width: 40vw;
    margin: 15vw 2.5vw 2.5vw 2.5vw;
    float: left;
    justify-content: center;
  }

  main {
    width: 55vw;
    padding-top: 15vw;
    height: inherit;
  }
  #tweets-container {
    width: 45vw;
  }
}
