
/* smartphone */
@media only screen and (max-width: 420px) {
  body {
    display: flex;
    flex-direction: column;
  }
  nav {
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(400px,1fr)); /*this */
    gap:10px;
  }
  }
  
  /* tablet */
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
  
  }
  
  /* desktop */
  @media only screen and (min-width: 1024px) {
    nav {
      width: auto;
      height: 100px;
      padding: 1.5em;
    }
    .nav-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
  }